a:active,
a:hover,
a:link,
a:visited {
    text-decoration: none
}

.space0 {
    margin-top: 5px;
    margin-bottom: 5px
}

.space1 {
    margin-top: 10px;
    margin-bottom: 10px
}

.space2 {
    margin-top: 20px;
    margin-bottom: 20px
}

.space3 {
    margin-top: 30px;
    margin-bottom: 30px
}

.space4 {
    margin-top: 40px;
    margin-bottom: 40px
}

.space5 {
    margin-top: 50px;
    margin-bottom: 50px
}

.space6 {
    margin-top: 60px;
    margin-bottom: 60px
}

.space7 {
    margin-top: 70px;
    margin-bottom: 70px
}

.space8 {
    margin-top: 80px;
    margin-bottom: 80px
}

.space9 {
    margin-top: 90px;
    margin-bottom: 90px
}

.space10 {
    margin-top: 100px;
    margin-bottom: 100px
}

.no-padding {
    margin: 0;
    padding: 0
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

table {
    width: 100%;
    height: 100%;
}

.shadowbox {
    background-color: rgba(35, 31, 32, 0.91);
    position: absolute;
}

.login {
    background-color: #f00;
    height: 600px;
    MAX-width: 1000px;
    margin: 0px auto;
    border-radius: 10px;
    padding: 20px;
}

.cajadatos {
    max-width: 300px;
    margin: 0px auto;
}

.cajadatos2 {
    max-width: 600px;
    margin: 0px auto;
}

.logohsbc {
    text-align: center;
}

.titulog {
    text-align: center;
}

.titulog h1 {
    margin: 0px;
    font-size: 1.5em;
    color: #fff;
}

.separador {
    width: 70px;
    height: 6px;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 6px;
}

.logdate label {
    color: #fff;
    font-size: 1em;
}

.logdate label span {
    color: #fff;
    font-size: .8em;
    font-weight: normal;
}

.campostyle {
    width: 100% !important;
    padding: 14px !important;
    border-radius: 5px !important;
    border: none !important;
    height: 50px;
}

.btngo {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 1em;
    background-color: #231f20;
    text-transform: uppercase;
    margin-top: 4px;
}

.btngocomm0 {
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 1em;
    background-color: #6d6060;
    text-transform: uppercase;
    margin-top: 4px;
}

.btngocomm0:hover {
    color: #fff;
}

.btngocomm {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 1em;
    background-color: #f00;
    text-transform: uppercase;
    margin-top: 4px;
}

.cajamore {
    text-align: center;
}

.cajamore p {
    margin: 0px;
    font-size: .9em;
    color: #fff;
}

.cajamore a {
    margin: 0px;
    font-size: .9em;
    color: #fff;
}

.cajamore a {
    margin: 0px;
    font-size: .9em;
    color: #231f20;
}

.cajamore a:hover {
    color: #e2e2e2;
}

.cajacluster {
    height: 600px;
    MAX-width: 1000px;
    margin: 0px auto;
    border-radius: 10px;
    padding: 20px;
}

.finanzas {
    background-color: #27719f;
}

.salud {
    background-color: #6a803a;
}

.balance {
    background-color: #da6e29;
}

.desarrollo {
    background-color: #703988;
}

.cultura {
    background-color: #bb2228;
}

.iconlog {
    position: absolute;
    margin-top: -70px;
    margin-left: -70px;
}

.imgscosos {
    position: relative;
    height: 500px;
}

.agendaicon {
    max-width: 450px;
    margin: 0px auto;
}

.cosaalader {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.tituloscluster {
    margin-left: 50px;
}

.tituloscluster h1 {
    font-size: 2em;
    color: #fff;
}

.infoalign {
    margin-left: 50px;
    max-height: 450px;
    overflow-y: scroll;
    padding-right: 20px;
}

.txtinfo {}

.txtinfo h2 {
    margin: 0px;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
}

.txtinfo p {
    margin: 0px;
    color: rgba(255, 255, 255, 0.79);
    font-size: .9em;
}

#calendar {
    max-width: 1100px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.scrollcal {
    height: 450px !important;
    max-height: 450px;
    overflow-y: scroll;
    border-radius: 10px;
}

.agendaicon img {
    transition: transform .5s ease;
}

.agendaicon img:hover {
    transform: scale(1.05);
}

.cajacoments {
    background-color: #081423;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    z-index: 100;
    width: 382px;
    margin-top: 100px;
    margin-left: 83px;
}

.cajacoments label {
    font-size: 1em;
    color: #fff;
    text-align: left !important;
    text-transform: uppercase;
    float: left;
}

.titucom {
    overflow: hidden;
}

.cajacom {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
}